<div class=' border-bottom p-3'>
  <h1 class='text-center'> <%= @recipe.name %></h1>
  <div class= 'd-flex justify-content-between'>
  <div>preparation time: <%= @recipe.preparation_time%></div>
  <span><%= @recipe.public %></span>
  </div>

  <div>coooking time: <%= @recipe.cooking_time %></div>

</div>
